@font-face{
    font-family: 'Open Sans', sans-serif;
    src: local("OpenSans-Medium.ttf");
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0; padding:0; border:0; background:transparent;
    /*vertical-align: baseline;*/
}

/* lists */
.list-full, .list-full li,
.list-auto, .list-auto li { width: 100%; float: left; display: block; position: relative; }
.list-auto, .list-auto li { width: auto; }

/* floats */
.float-l { float: left; }
.float-r { float: right; }




header {
    min-height: 60px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: #ffffff;
    z-index: 2;
}
header+section {
    padding-top: 80px;
}
header h1{
    font-size: 40px;
    font-weight: 300;
}

header h1 a {
    color: #333;
}

header ul {
    padding: 15px 10px 0 0;
}

header li {
    border-left: 1px solid #ccc;
}

header li:first-child {
    border: none;
}

header a {
    display: block;
    padding: 0 10px;
    color: #999;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

header a:hover {
    color: #f0ad4e;
    text-decoration: none;
}

#user_link{
    right: -500%;
}

header input{
    border-radius: 0px!important;
}
header form{
    margin-top: -6px!important;   
}

input#control-nav {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
}

/* content */
section {
    padding: 80px 20px 50px;
    border-top: 1px solid #ccc;
    font-size: 20px;
    line-height: 24px;
}

section:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (min-width: 767px){
    header form {
        margin-top: -6px!important;
    }
}

@media screen and (max-width: 800px) {
    #user_link {
        right: -240%;
    }
    header img#logotipo{
        position: absolute;
        top: 23px;
        left: 10px;
        width: 20%;
        transition: 1;
    }
    header div#msg-logo{
        text-align: center;
    }
}

@media screen and (min-width: 991px) {
    #user_link {
        right: -300%;
    }    
    header form {
        margin-top: -10px!important;
    }
}

@media screen and (max-width: 1280px) {
    #user_link {
        right: -380%;
    }    
}

@media screen and (max-width: 1024px) {
    #user_link {
        right: -250%;
    }
     header img#logotipo{
        position: absolute;
        top: 23px;
        left: 10px;
        width: 20%;
        transition: 1;
    }
    header div#msg-logo{
        text-align: center;
    } 
    header form {
        margin-top: -41px!important;
    }
}

@media screen and (max-width: 767px) {
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        border-left: 1px solid #ccc;
        background: #fff;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    
    #user_link {
        right: 0;
    }

    header ul.list-auto {
        padding: 0;
    }

    header ul.list-auto li {
        width: 100%;
        border: solid #ccc;
        border-width: 0 0 1px;
    }

    header li a {
        padding: 15px 10px;
    }

    header li a:hover {
        background-color: #ccc;
    }

    .control-nav { /* label icon */
        position: absolute;
        right: 20px;
        top: -10px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #E6E6E6;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }

    .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #E6E6E6;
    }

    .control-nav-close {
        position: fixed; /* label layer */
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    /* checked nav */
    input#control-nav {
        display: block;
    }

    input#control-nav:focus ~ .control-nav {
        border-color: #E6E6E6;
        box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    }

    input#control-nav:focus ~ .control-nav:before {
        background: #fff;
    }

    input#control-nav:checked ~ nav,
    input#control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    header div.pull-right {
        position: relative;
        float: none!important;
        text-align: center;
        padding-bottom: 11px;
    }
    .float-r{        
        float: none;
    }
    header form{
        margin-top: 10px!important;   
    }
    header button{
        width: 100%;
    }
} 

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.7em;
        margin-bottom: 25px;
        margin-left: 60px;
        margin-top: -16px;
    } 
    h2.title {
        font-size: 1.3em!important;    
    }
    header img#logotipo{
        position: absolute;
        top: -10px;
        left: 10px;
        width: 30%;
        transition: 1;
    }
    header div#msg-logo{
        text-align: center;
        margin-top: 22px;
        font-size: 1.4em;
    }
    header div.pull-right {
        position: relative;
        float: none!important;
        text-align: center;
        padding-bottom: 11px;
    }
    span.footer-info{ 
        float: none;
    }
    footer img#logofooter{
        display: none;
    }
    #user_link {
        right: 0;
    }
    .float-r{
        margin-top: 15px;
        float: none;
    }
    #login{
        
    }
}

#menu li.busca ::-webkit-input-placeholder{
    color: #fff;

}

#menu li.busca button{
    background: none;   
    border: none;
    right: 35px;
    top: 11px;
}
#menu li.busca button i{
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
}


footer{
    background-color: #222222;
    background-color: rgba(34, 34, 34, 0.79);
    position: relative;
    bottom: 0px;
    height: 250px;
    width: 100%;
    height: auto;    
    z-index: 1;
}
div.row-up{
    padding-top: 15px;
}
div.espaco {
    margin-top: 30px;
}
#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.outline {
    background-color: transparent;
    color: inherit;
    transition: all .25s;
}
.btn-primary.outline {
    color: #428bca;
}
.btn-success.outline {
    color: #5cb85c;
}
.btn-info.outline {
    color: #5bc0de;
}
.btn-warning.outline {
    color: #f0ad4e;
}
.btn-danger.outline {
    color: #D09375;
}
#content > section.row > div:nth-child(2) > form > div:nth-child(3) > button:hover{
    background-color: #D09375!important;
}
.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
    color: #fff;
}
button.reservar {
    color: #ccc!important;
    background-color: #ffffff;
    font-size: 1.9em;
    font-weight: 300;
    margin-top: 15px;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 15px; 
    width: 100%;
}
h2.title{
    margin-top: -60px;
    font-size: 1.9em;
    font-weight: 300;
}
#hr-cat {
    margin: 20px 0 20px 0;    
    border: #ccc solid 2px;
    width: 100%;
    text-align: center;

}
.mask-white{
    background-color: #000;
    z-index: 1;
}
span.footer-info { 
    float: right;
}

div#content section{
    min-height: 383px;
}
.table-overflow {
    overflow-x: auto;
}

.buttonSpacer {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-height: 1.3125rem;
}
header li button{
    background: transparent;
    border: none;
    margin-left: -40px;
    padding-top: 12px;
      
}
header li fa{
    
}